html, body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
}
.container{
    position: relative;
    max-width: 1180px;
}
#header{
    background-color: #3d3d3d;
}
.menu-brand img{
    padding: 30px 15px;
}
#header .icon{
    margin-top: 60px;
    position: relative;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-right: 65px;
}
.icons{
    text-align: right;
}
.icon li a{
    padding: 15px;
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-menu{
    min-width: 330px;
    top: 70px;
    left: -94px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
    border: 1px solid #d9d9d9;
    margin-top: 48px;
    border-top: 0;
    border-radius: 0;
    z-index: 1002;
}
.menu li a[aria-expanded=true]:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -45px;
    left: 25px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 15px solid #3d3d3d;
    z-index: 9999;
}
#second .dropdown-menu{
    min-width: 781px;
    top: 70px;
    left: -94px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #d9d9d9;
    margin-top: -3px;
    border-top: 0;
    border-radius: 0;
    z-index: 1002;
    color: #7f7f7f;

}
.fa-calendar{
    font-size: 15px;
    padding: 0px;
}
.submenu-header{
    background-color: #ddec45;
    margin-top: -6px;
}
.submenu-header li{
    text-decoration: none;
}
ul li{
    list-style: none;
}
#header ul{
    padding-left: 0px;
}

.account li{
    background-color: #feffeb;
}
a {
    color: #333333;
    padding: 10px;
    font-size: 16px;
}
.submenu-header a{
    color: #007bff;
    float: right;
    padding-top: 0px;
    text-decoration: none;
    margin-top: -16px;
}
#header ul li a span {
    font-size: 24px;
    color: #d40e15;
    background-color: #feffeb;
    padding-right: 25px;
}
#header .dropdown-menu li{
    border-top: 1px solid #d9d9d9;
    width: 100%;
    padding: 6px 0px;
    margin-bottom: -3px;
}
#header .dropdown-menu ul{
    background-color: #f6f6f6;
}
.dropdown-menu .show{
    position: absolute;
    transform: translate3d(10px, 80px, 0px);
    top: 0px;
    left: 0px;
    will-change: transform;
    margin-top: 116px;
}
#header .dropdown-menu {
    margin-top: 23px;
}
#second .dropdown .dropdown-menu .show {
    position: absolute;
    transform: translate3d(10px, 141px, 0px);
    top: -127px;
    left: 0px;
    will-change: transform;
    margin-top: 116px;
}
strong{
    font-size: 16px;
    padding-left: 10px;
}
.btn{
    margin: 50px 10px 0px 10px;
    padding: 12px;
}
#second .dropdown-item {
    display: inline;
    max-width: 100%; 
    padding: 10px;
    white-space: nowrap;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    color: #7f7f7f;
}
.btn:focus{
    box-shadow: none;
}
.dpack, .selected, .tavel{
    max-width: 11%;
}
.one.btn {
    border: 1px solid #8ccbc0;
}
.dpack .vector-img {
    top: 49px;
    right: 26px;
    position: absolute;
}
#second .dropdown > a.one.btn.active:after {
    background: url("images/vector1.png");
    width: 35px;
    border: 0;
    height: 36px;
    top: -20px;
    right: -2px;
}
.selected .vector-img {
    top: 48px;
    right: 12px;
    position: absolute;
}
.travel .vector-img {
    top: 48px;
    right: 10px;
    position: absolute;
}
#second .dropdown > a.one.btn.active {
    background-color: #8ccbc0;
    padding: 15px 15px 50px 15px;
} 
#second .dropdown > a.one.btn.active:before{
    content: "";
    display: block;
    position: absolute;
    bottom: -15px;
    left: 2px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 17px solid #8ccbc0;
    z-index: 9999;
}
#second .dropdown-toggle{
    color: #585858;
    font-weight: bold;
    font-size: 18px;
}
.two.btn {
    border: 1px solid #fbc12d;
}
.three.btn {
    border: 1px solid #9186bc;
}
#second .show .two.btn, #second .show .three.btn{
    border: 1px solid #d9d9d9;
    background-color: white;
}

#second .dropdown > a.one.btn.active[aria-expanded=true] {
    border: 1px solid #d9d9d9;
    background-color: white;
}
#second .dpack .dropdown-menu {
    margin-top: -44px;
}
#second .dropdown > a.one.btn.active:before .show{
    display: none;
}
.network.btn{
    background-color: #fafafa;
    border: 1px solid #d9d9d9;
    margin: 20px 0px 0px 40px;
    color: #888888;
    font-weight: bold;
    padding: 10px 20px;
}
#second .dropdown{
    display: inline-flex;
}
#second .selected .dropdown-menu {
    min-width: 420px;
}
#second .travel .dropdown-menu {
    min-width: 320px;
}
.four{
    display: flex;
    justify-content: flex-end;
}
#second{
    background-color: #f6f6f6;
    border-bottom: 1px solid #d9d9d9;
}
#voli .vector-img {
    top: 4px;
    right: 20px;
    position: absolute;
}
.border-left{
    height: 10%;
    margin: 35px 0px 0px 400px;
}
.voli{
    text-align: center;
    margin-top: 50px;
    color: #7f7f7f;
}
.voli h1{
    font-size: 36px;
}
.voli p{
    font-size: 18px;
}
.ricerca .check{
    font-size: 18px;
    font-weight: bold;
    padding-right: 13px;
}
.tick-image.btn-default{
    background-color: #ffffff;
    color: #7f7f7f;
    border: 1px solid #ededed;
    text-align: right;
    padding-bottom: 0px;
    padding-right: 0px;
    margin-top: 10px;
    box-shadow: 0 0 0 5px #f6f6f6;
}
.ricerca{
    text-align: right;
}
form{
    color: #7f7f7f;
    font-size: 18px;
}
.check {
    display: block;
    position: relative;
    padding: 0px 35px;
    margin-bottom: 12px;
    /* cursor: pointer; */
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.check input{
    position: absolute;
    opacity: 0;
    /* cursor: pointer; */
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 50%;
}
.check input:checked ~ .checkmark {
    background-color: #8acbc0;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkmark img{
    height: 18px;
    width: 18px;
    margin-top: -10px;
}
.check input:checked ~ .checkmark:after {
    display: block;
}
.check .checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.circle{
    padding-bottom: 12px; 
}
.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{
    color: black;
}
.bootstrap-iso form button, .bootstrap-iso form button:hover{
    color: white;
} 
.asteriskField{
    color: red;
}
h2{
    font-size: 18px;
    padding: 5px;
}
.ricerca-2 {
    text-align: center;
}
.ricerca-two.btn-default{
    border:2px solid #8ccbc0;
    color: #7f7f7f;
    background-color: #f6f6f6;
    font-weight: bold;
}
label{
    padding: 10px;
}
.form-inline .form-control {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    border: transparent;
    background-color: #f6f6f6;
}
.bootstrap-iso .form-inline .control-label {
    color: #7f7f7f;
    font-size: 18px;
    font-weight: bold;
}
.form-inline label {
    color: #7f7f7f;
    font-size: 18px;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
}
.bootstrap-iso .form-inline .form-control {
    color: #7f7f7f;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
}
.table td {
    padding: 13px 33px;
    border: none;
    text-transform: uppercase;
    color: #7f7f7f;
}
tr:nth-child(even) {
    background: #ffffff
}
tr:nth-child(odd) {
    background: #edf7f5
}

#collapseTable .card-body, #collapseExample .card-body {
    border: none;
    padding: 10px;
}
#collapseExample .card-body {
    padding: 0px;
}
.button-table{
    color: #585858;
    font-weight: bold;
    text-align: left;
    background-color: #f6f6f6;
    border: 1px solid #8ccbc0;
    width: 98%;
    font-size: 15px;
}
.btn-primary:hover, .btn-primary:focus {
    color: #585858;
    text-align: left;
    background-color: #f6f6f6;
    border: 1px solid #8ccbc0;
    box-shadow: none;
}
.toast{
    padding-top: 60px;
}
.toast-body{
    background-color: #d9d9d9;
    padding: 50px 0px 190px 25px;
    color: #f4f4f4;
    text-transform: uppercase;
    font-size: 16px;
}
#footer.wrapper{
    background-color: #f6f6f6;
    border-top: 1px solid #d9d9d9;
}
.footer-list  a{
    color: #7f7f7f;
    font-weight: bold;
    text-decoration: none;
}
.footer-list  {
    border-bottom: 1px solid #d9d9d9;
}
#footer .list-inline-item {
    padding: 30px 15px 0px 15px;
    font-size: 16px;
}
#footer span{
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    padding-right: 20px;
}
.fa-search{
    transform: rotate(100deg);
    color: #000000;
}
.footer-secondlist a{
    color: #7f7f7f;
    font-size: 14px;
    text-decoration: none;
}
#footer .footer-second{
    padding: 15px;
}
#second .dropdown-item:hover{
    border-bottom: 4px solid #9f9f9f;
    background-color: transparent;
}
/* nav.menu .dropdown a{
    background: rebeccapurple;
}
nav.menu .show a{
    background: red;
} */

@media (max-width: 1199px) { 
    .dpack .vector-img {
        top: 49px;
        right: 26px;
    }
    .selected .vector-img {
        right: 13px;
    }
    .travel .vector-img {
        right: 10px;
    }
    #second .dropdown-menu {
        padding: 13px;
        min-width: 470px;
    }
    #second .dropdown > a.one.btn.active:before {
        left: 1px;
    }
    .border-left {
        margin: 35px 0px 0px 301px;
    }
}


@media (max-width: 991px) { 
    .menu-brand img {
        padding: 16px;
    }
    .dpack, .selected, .tavel {
        max-width: 20%;
    }
    .dpack .vector-img, .selected .vector-img  {
        right: 61px;
    }
    .selected .vector-img  {
        right: 48px;  
    }
    #header .icon {
        margin-top: 100px;
    }
    .travel .vector-img {
        right: -22px;
    }
    #second .dropdown > a.one.btn.active:before {
        left: -34px;
    }
    .form-inline .form-control {
        width: 100%;
    }
    .tick-image.btn-default {
        margin: 10px 10px 20px 0px;
    }
    .bootstrap-iso .form-inline .form-control {
        width: 100%;
    }
    .bootstrap-iso .form-inline .input-group > .form-control {
        width: 100%;
    }
    .table td {
        padding: 10px 9px;
    }
    #footer .list-inline-item {
        padding: 5px;
        padding-top: 17px;
    }
    .border-left {
        margin: 35px 0px 0px 127px;
    }
}
@media (max-width: 767px) { 
    .menu-brand img {
        padding: 35px 0px;
    }
    .dpack, .selected, .tavel {
        max-width: 100%;
    }
    #header .icon {
        margin-top: -3px;
        padding-bottom: 20px;
        padding-right: 0px; 
    }
    #second .dropdown-toggle {
        width: 100%;
    }
    #header .dropdown-menu {
        margin-top: 29px;
    }
    #second .dropdown > a.one.btn.active {
        background-color: #8ccbc0;
        padding-bottom: 15px;
        width: 100%;
    }
    #second .dropdown-menu {
        padding: 14px;
        min-width: 95%;
    }
    #second .dropdown > a.one.btn.active:before{
    display: none;
    }
    .network.btn {
        width: 98%;
    }
    .border-left{
        margin-left: -36px;
    }
    #second {
        padding-bottom: 20px;
    }
    .dpack .vector-img {
        right: 25px;
    }
    .selected .vector-img, .travel .vector-img {
        right: 4px;
    }
    .tick-image.btn-default {
        text-align: center;
        width: 100%;
        margin: 20px 0px 45px 0px;
    }
    #voli .vector-img {
        top: 14px;
        right: 11px;
    }
    .check {
        font-size: 16px;
    }
    .bootstrap-iso .form-inline .input-group > .form-control {
        width: 100%;
    }
    .campi{
        display: flex;
        justify-content: flex-end;
    }
    .ricerca-two.btn-default {
        width: 100%;
        margin: 50px 0px 0px 0px;
    }
    #footer .list-inline-item {
        padding: 5px;
        display: flex;
        flex-wrap: wrap;
    }
    .footer-list a {
        padding: 3px;
    }
}
@media (max-width: 575px) { 
    .form-check-inline {
        padding-left: 56px;
    }
    .bootstrap-iso .form-inline .input-group > .form-control {
        width: 100%;
    }
    .form-check-inline {
        display: flex;
        flex-wrap: wrap;
    }
    .footer-list a {
        padding: 3px;
    }
    #second .dropdown-item {
        display: flex;
    }
    .check {
        font-size: 14px;
    }
}
@media (max-width: 320px) { 
    .menu-brand img {
        padding: 20px 0px;
    }
    .bootstrap-iso .form-inline .input-group > .form-control {
        width: 100%;
    }
    .form-check-inline {
        display: flex;
        flex-wrap: wrap;
    }
    #second .dropdown-menu {
        padding: 12px;
        min-width: 93%;
    }
    #second .dropdown-item {
        display: flex;
    }
    #collapseTable .card-body, #collapseExample .card-body {
        padding: 3px;
    }
    .table td {
        padding: 2px;
    }
    strong {
        font-size: 13px;
    }
    .checkmark img {
        margin-top: -6px;
    }
    .footer-list a {
        padding: 3px;
    }

}